/* your custom css */

.fixedHeaderContainer header .headerTitleWithLogo,
.onPageNav a {
  top: -2px;
}

.fixedHeaderContainer header img {
  border-radius: 50%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .button {
    width: 100%;
    display: block;
  }

  .button.docs-next {
    text-align: right;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    overflow-y: scroll;
  }

  .toc .toggleNav .navGroup .navGroupCategoryTitle {
    padding-right: 8px;
  }

  .toc .toggleNav ul {
    padding: 0 8px 0 0;
  }

  .subNavGroup {
    padding-left: 8px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}